<!DOCTYPE html>
<html>
  <head>
    <meta content = "text/html; charset=UTF-8" http-equiv = 'Content-Type'/>
      </head>
  <body>
    <h1> Welcome to DawnAir, <%= @passenger.name.capitalize %> </h1>
    <p>
      You have successfully booked your flight.  Thanks for flying!
    </p>
  
  </body>
</html>