<h1> Confirmation </h1>

<h2> <%= @booking.flight.departing_airport.code %>  ----> <%=  @booking.flight.arriving_airport.code %> </h2>
<h3> <%= @booking.flight.departing_datetime %> </h3>

<h2> <%= @booking.passengers.name %> <h2>
